
/* Tabs CSS */
/* configure the tab buttons */
.charsheet .sheet-abilities,
.charsheet .sheet-info,
.charsheet .sheet-quantum,
.charsheet .sheet-combat {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="abilities"] ~ div .sheet-button0 {outline: 2px solid red;}
.charsheet .sheet-tabstoggle[value="quantum"] ~ div .sheet-button1 {outline: 2px solid red;}
.charsheet .sheet-tabstoggle[value="combat"] ~ div .sheet-button2 {outline: 2px solid red;}
.charsheet .sheet-tabstoggle[value="info"] ~ div .sheet-button3 {outline: 2px solid red;}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="abilities"] ~ div.sheet-abilities,
.charsheet .sheet-tabstoggle[value="quantum"] ~ div.sheet-quantum,
.charsheet .sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.charsheet .sheet-tabstoggle[value="info"] ~ div.sheet-info {
    display: block;
}
/* End of Tabs CSS */
