<div class="header">
    <div class="row">
        <img class="character-avatar avatar-col" name="attr_character_avatar">
        <div class="character-detail character-details-col">
            Name: <span class="character-name" name="attr_character_name"></span><br>
            Alias(es): <span class="character-aliases" name="attr_BName"></span><br>
            Faction: <span class="character-faction" name="attr_Allegiance"></span><br>
        </div>
        <div class="logo-col">
            <img class='logo'
                src='https://raw.githubusercontent.com/AndrewHolder/roll20-character-sheets-Testing/831c3fc33fdd10ee5e4d64db31eb7c64f7947420/AEON-Aberrant/AberrantLogo.png'
                alt='Aberrant Logo' />
        </div>
    </div>
</div>