	<div class='sheet-config'>
		<h2>Configuration</h2>
		<div class="col">
			<h3>Sheet Settings</h3>
			<p>Configure your character sheet preferences and settings here.</p>
			
			<h3>Display Options</h3>
			<div class="row">
				<label>
					<input type="checkbox" name="attr_show_advanced" value="1" />
					Show Advanced Options
				</label>
			</div>
			
			<h3>Roll Templates</h3>
			<div class="row">
				<label>
					<input type="checkbox" name="attr_detailed_rolls" value="1" />
					Use Detailed Roll Output
				</label>
			</div>
			
			<h3>Custom Settings</h3>
			<p>Additional configuration options will be added here.</p>
		</div>
	</div>
