	<div class='sheet-quantum'>
        <h2>Quantum Powers</h2>	
        <div class="dual_col">
            <div class="col">
				<h3>Quantum Powers</h3>
				<fieldset class='repeating_Powers'>
                    <div class="row">
                        <div class="item 20"><button type='roll' class='sheet-background' value="&{template:base} {{subtag= @{character_name} }} {{name= @{rPowerName} }} {{roll= [[ (?{Modifier?|0} +@{rDicePoolp})d10>7f1!>10s+?{Bonus Successes?|0 }]] }} {{note= @{rPowerNotes}}}"></button></div>
                        <div class="item 5"></div>
                        <div class="item 160"><input type='text' class="st" name='attr_rPowerName' placeholder='Power Name'/></div>
                        <div class="item 180">
							<input type='radio' class="dot zero" name='attr_rPower' value=1 checked /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=2 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=3 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=4 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=5 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=6 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=7 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=8 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=9 /><span></span>
							<input type='radio' class="dot" name='attr_rPower' value=10 /><span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item 50"><input type='text' class="st" name='attr_rPowerLevel' value=1 min=1 max=6 /></div>
                        <div class="item 75"><input type='text' class="st" name='attr_rPowerPMaxExp_Total' value=0 min=0 /></div>
                    </div>
                    <div class="row">
                        <div class="item 50 subtitle">Level</div>
                        <div class="item 75 subtitle">Power Max XP</div>
                    </div>
                    <div class="row">
                        <div class="item 250"><input type='text' class="st" name='attr_rExtraName' value="" /></div>
                        <div class="item 50"><input type='text' class="st" name='attr_rMasteryp' value=0 min=0 /></div>
                    </div>
                    <div class="row">
                        <div class="item 250 subtitle">Extras</div>
                        <div class="item 50 subtitle">Mastery</div>
                    </div>
                    <div class="row">
                        <div class="item 250"><input type='text' class="st" name='attr_rPowerTechniques' value="" /></div>
                        <div class="item 50"><input type='text' class="st" name='attr_rDicePoolp' value=0 min=0 /></div>
                    </div>
                    <div class="row">
                        <div class="item 250 subtitle">Techniques</div>
                        <div class="item 50 subtitle">Dice Pool</div>
                    </div>
                    <div class="row">
                        <div class="item 180"><input type='text' class="st" name='attr_rRangep' value="" /></div>
                        <div class="item 180"><input type='text' class="st" name='attr_rAreaNotes' value="" /></div>
                    </div>
                    <div class="row">
                        <div class="item 180 subtitle">Range</div>
                        <div class="item 180 subtitle">Area</div>
                    </div>
                    <div class="row">
                        <div class="item 180"><input type='text' class="st" name='attr_rWeakNotes' value="" /></div>
                        <div class="item 180"><input type='text' class="st" name='attr_rStrengthNotes' value="" /></div>
                    </div>
                    <div class="row">
                        <div class="item 180 subtitle">Weaknesses</div>
                        <div class="item 180 subtitle">Strengths</div>
                    </div>
                    <textarea class="textarea_1" name='attr_rPowerNotes' placeholder='Notes'></textarea>
				</fieldset>
            </div>
            <div class="col">
                <h3>Taint</h3>
				<div class="row">
                    <input type='radio' class="dot zero" name='attr_Taint_max' value=0 checked /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=1 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=2 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=3 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=4 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=5 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=6 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=7 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=8 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=9 /><span></span>
                    <input type='radio' class="dot" name='attr_Taint_max' value=10 /><span></span>
				    <div class="item 24"><button type='roll' class='sheet-background d10-dice' value="&{template:base} {{subtag= @{character_name} }} {{name=Taint }} {{roll= [[ (?{Modifier?|0} +@{Taint_max})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                </div>
                <div class="row">
                    <input type='radio' class="mdot zero" name='attr_Taint' value=0 checked /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=1 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=2 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=3 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=4 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=5 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=6 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=7 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=8 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=9 /><span></span>
                    <input type='radio' class="mdot" name='attr_Taint' value=10 /><span></span>
                </div>

                <h3>Chrysalis</h3>
				<div class="row">
                    <input type='radio' class="dot zero" name='attr_Chrysalis_max' value=0 checked /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=1 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=2 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=3 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=4 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=5 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=6 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=7 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=8 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=9 /><span></span>
                    <input type='radio' class="dot" name='attr_Chrysalis_max' value=10 /><span></span>
                    <div class="item 24"><button type='roll' class='sheet-background d10-dice'' value="&{template:base} {{subtag= @{character_name} }}  {{name=Chrysalis }} {{roll= [[ (?{Modifier?|0} +@{Chrysalis_max})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                </div>
                <h3>Quantum</h3>
				<div class="row">
                    <input type='radio' class="dot zero" name='attr_Quantum_max' value=0 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=1 checked /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=2 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=3 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=4 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=5 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=6 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=7 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=8 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=9 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_max' value=10 /><span></span>
                    <div class="item 24"><button type='roll' class='sheet-background d10-dice'' value="&{template:base} {{subtag= @{character_name} }} {{name=Quantum }} {{roll= [[ (?{Modifier?|0} +@{Quantum_max})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                </div>
                <h3>Body Modifications</h3>
                <fieldset class='repeating_rbAberrations'>
                    <div class="row">
                        <div class="item 250"><input type='text' class="st" name='attr_rbBModName' placeholder="Aberration" /></div>
                        <div class="item 70"><input type='text' class="st" name='attr_rbBModValue' placeholder="Value" /></div>
                    </div>
                    <div class="row">
                        <div class="item 250 subtitle">Aberration</div>
                        <div class="item 70 subtitle">Value</div>
                    </div>
                    <textarea class="textarea_1" name='attr_rbBodyModificationNotes' placeholder='Notes'></textarea>
				</fieldset>
                <h3>Aberrations</h3>
                <fieldset class='repeating_rAberrations'>
                    <div class="row">
                        <div class="item 250"><input type='text' class="st" name='attr_rBModName' placeholder="Aberration" /></div>
                        <div class="item 70"><input type='text' class="st" name='attr_rBModValue' placeholder="Value" /></div>
                    </div>
                    <div class="row">
                        <div class="item 250 subtitle">Aberration</div>
                        <div class="item 70 subtitle">Value</div>
                    </div>
                    <textarea class="textarea_1" name='attr_rBodyModificationNotes' placeholder='Notes'></textarea>
				</fieldset>
            </div>
        </div>
        <div class="row">
            <h2>Quantum Pool</h2>
            <div class="row">
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=1 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=2 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=3 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=4 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=5 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=6 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=7 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=8 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=9 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=10 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=11 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=12 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=13 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=14 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=15 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=16 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=17 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=18 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=19 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=20 checked /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=21 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=22 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=23 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=24 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=25 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=26 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=27 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=28 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=29 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=30 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=31 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=32 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=33 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=34 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=35 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=36 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=37 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=38 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=39 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=40 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=41 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=42 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=43 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=44 /><span></span>
                    <input type='radio' class="dot" name='attr_Quantum_pool_max' value=45 /><span></span>
            </div>
            <div class="row">
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=1 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=2 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=3 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=4 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=5 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=6 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=7 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=8 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=9 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=10 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=11 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=12 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=13 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=14 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=15 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=16 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=17 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=18 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=19 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=20 checked /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=21 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=22 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=23 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=24 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=25 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=26 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=27 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=28 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=29 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=30 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=31 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=32 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=33 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=34 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=35 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=36 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=37 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=38 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=39 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=40 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=41 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=42 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=43 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=44 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=45 /><span></span>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
	</div>