	<div class='quantum'>
        <h2>Quantum Powers</h2>	
        <div class="dual_col">
            <%- include('sections/quantumPowers.ejs') -%>
            <div class="col">
                <h3 class="category-title">Taint</h3>
				<div class="row">
                    <input type='radio' class="dot zero edit-mode" name='attr_taint' value=0 checked /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=1 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=2 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=3 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=4 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=5 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=6 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=7 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=8 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=9 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_taint' value=10 /><span></span>
				    <div class="item w24"><button type='roll' class='background d10-dice' value="&{template:base} {{subtag= @{character_name} }} {{name=Taint }} {{roll= [[ (?{Modifier?|0} +@{Taint_max})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                </div>
                <div class="row">
                    <input type='radio' class="mdot zero" name='attr_taint_temp' value=0 checked /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=1 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=2 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=3 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=4 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=5 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=6 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=7 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=8 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=9 /><span></span>
                    <input type='radio' class="mdot" name='attr_taint_temp' value=10 /><span></span>
                </div>
                <h3 class="category-title">Chrysalis</h3>
				<div class="row">
                    <input type='radio' class="dot zero edit-mode" name='attr_chrysalis' value=0 checked /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=1 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=2 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=3 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=4 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=5 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=6 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=7 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=8 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=9 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_chrysalis' value=10 /><span></span>
                    <div class="item w24"><button type='roll' class='background d10-dice'' value="&{template:base} {{subtag= @{character_name} }}  {{name=Chrysalis }} {{roll= [[ (?{Modifier?|0} +@{chrysalis})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                </div>
                <div class="row">
                    <input type='radio' class="mdot zero" name='attr_chrysalis_temp' value=0 checked /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=1 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=2 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=3 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=4 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=5 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=6 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=7 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=8 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=9 /><span></span>
                    <input type='radio' class="mdot" name='attr_chrysalis_temp' value=10 /><span></span>
                </div>
                <h3 class="category-title">Quantum</h3>
				<div class="row">
                    <input type='radio' class="dot zero edit-mode" name='attr_Quantum_max' value=0 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=1 checked /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=2 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=3 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=4 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=5 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=6 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=7 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=8 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=9 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_max' value=10 /><span></span>
                    <div class="item w24"><button type='roll' class='background d10-dice'' value="&{template:base} {{subtag= @{character_name} }} {{name=Quantum }} {{roll= [[ (?{Modifier?|0} +@{Quantum_max})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                </div>
                <h3 class="category-title">Body Modifications</h3>
                <fieldset class='repeating_rbAberrations'>
                    <div class="row">
                        <div class="item w250"><input type='text' class="st" name='attr_rbBModName' placeholder="Aberration" /></div>
                        <div class="item w70"><input type='text' class="st" name='attr_rbBModValue' placeholder="Value" /></div>
                    </div>
                    <div class="row">
                        <div class="item w250 subtitle">Aberration</div>
                        <div class="item w70 subtitle">Value</div>
                    </div>
                    <textarea class="textarea_1" name='attr_rbBodyModificationNotes' placeholder='Notes'></textarea>
				</fieldset>
                <h3 class="category-title">Aberrations</h3>
                <fieldset class='repeating_rAberrations'>
                    <div class="row">
                        <div class="item w250"><input type='text' class="st" name='attr_rBModName' placeholder="Aberration" /></div>
                        <div class="item w70"><input type='text' class="st" name='attr_rBModValue' placeholder="Value" /></div>
                    </div>
                    <div class="row">
                        <div class="item w250 subtitle">Aberration</div>
                        <div class="item w70 subtitle">Value</div>
                    </div>
                    <textarea class="textarea_1" name='attr_rBodyModificationNotes' placeholder='Notes'></textarea>
				</fieldset>
            </div>
        </div>
        <div class="row">
            <h2>Quantum Pool</h2>
            <div class="row">
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=1 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=2 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=3 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=4 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=5 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=6 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=7 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=8 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=9 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=10 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=11 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=12 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=13 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=14 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=15 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=16 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=17 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=18 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=19 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=20 checked /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=21 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=22 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=23 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=24 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=25 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=26 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=27 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=28 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=29 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=30 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=31 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=32 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=33 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=34 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=35 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=36 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=37 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=38 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=39 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=40 /><span></span>
                    &nbsp;
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=41 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=42 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=43 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=44 /><span></span>
                    <input type='radio' class="dot edit-mode" name='attr_Quantum_pool_max' value=45 /><span></span>
            </div>
            <div class="row">
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=1 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=2 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=3 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=4 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=5 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=6 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=7 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=8 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=9 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=10 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=11 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=12 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=13 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=14 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=15 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=16 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=17 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=18 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=19 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=20 checked /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=21 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=22 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=23 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=24 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=25 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=26 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=27 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=28 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=29 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=30 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=31 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=32 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=33 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=34 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=35 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=36 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=37 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=38 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=39 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=40 /><span></span>
                    &nbsp;
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=41 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=42 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=43 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=44 /><span></span>
                    <input type='radio' class="mdot" name='attr_Quantum_pool' value=45 /><span></span>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
	</div>