<rolltemplate class="sheet-rolltemplate-attack">
    <div class="container">
        <div><h1>{{name}}</h1></div>
        <div><span class="subheader">{{subtag}}</span></div>
        <div class="dice-divider"></div>
        {{#attack}}
        <div class="rowcolor"><span class="tcat">Attack: </span>{{attack}} Success(es)</div>
        {{/attack}}
        {{#attacknote}}
            <div class="attack-note">
                {{attacknote}} 
            </div>
        {{/attacknote}}
        {{#damage}}
            <div class="damage-section">
                <span class="tcat">Damage: </span>
            </div>
            <div class="damage-result">{{damage}}</div>
        {{/damage}}
        {{#note}}
            <div class="note">
                {{note}} 
            </div>
        {{/note}}
    </div>
</rolltemplate>
