<rolltemplate class="sheet-rolltemplate-base">
    <div class="sheet-container">
        <div><h1>{{name}}</h1></div>
        <div><span class="sheet-subheader">{{subtag}}</span></div>
        <div class="sheet-dice-divider"></div>
        {{#roll}}
        <div class="sheet-rowcolor"><span class="sheet-tcat">Roll: </span>{{roll}} Success(es)</div>
        {{/roll}}
        {{#attack}}
        <div class="sheet-rowcolor"><span class="sheet-tcat">Attack: </span>{{attack}} Success(es)</div>
        {{/attack}}
        {{#damage}}
            <div>
                 <span class="sheet-tcat">Damage: </span>{{damage}} 
            </div>
        {{/damage}}
        {{#note}}
            <div>
                {{note}} 
            </div>
        {{/note}}
        {{#mega}}
            <div>
                <div class="sheet-mega-roll">{{mega}}</div>
            </div>
        {{/mega}}
    </div>
</rolltemplate>
