<rolltemplate class="sheet-rolltemplate-initiative">
    <div class="container">
        <div><h1>{{name}} is ready for action!</h1></div>
        <div class="dice-divider"></div>
        {{#roll}}
        <div class="rowcolor"><span class="tcat">Initiative: </span>{{roll}}</div>
        {{/roll}}
    </div>
</rolltemplate>
