<rolltemplate class="sheet-rolltemplate-initiative">
    <div class="container">
        <div><h1>{{name}}</h1></div>
        <div><span class="subheader">{{subtag}}</span></div>
        <div class="arrow-container"><div class="arrow-right"></div></div>
        {{#roll}}
        <div class="rowcolor"><span class="tcat">Roll: </span>{{roll}}</div>
        {{/roll}}
        {{#note}}
            <div>
                {{note}} 
            </div>
        {{/note}}
    </div>
</rolltemplate>
