<rolltemplate class="sheet-rolltemplate-megaroll">
    <div class="container">
        <div><h1>{{name}}</h1></div>
        <div><span class="subheader">{{subtag}}</span></div>
        <div class="arrow-container"><div class="arrow-right"></div></div>
        {{#mega}}
        <div class="rowcolor"><span class="tcat">Roll: </span>{{computed::mega}} Success(es)</div>
        {{/mega}}
    </div>
</rolltemplate>
