<rolltemplate class="sheet-rolltemplate-megaroll">
    <div class="sheet-container">
        <div><h1>{{name}}</h1></div>
        <div><span class="sheet-subheader">{{subtag}}</span></div>
        <div class="sheet-dice-divider"></div>
        {{#mega}}
        <div class="sheet-rowcolor"><span class="sheet-tcat">Roll: </span>{{computed::mega}} Success(es)</div>
        {{/mega}}
    </div>
</rolltemplate>
