/* Buttons */
.ui-dialog .tab-content .charsheet {
    button {
        border-radius: 5px;
    }

    button[type=roll].background::before,
    button[type=roll].grid_btn::before,
    button[type=action].d10-dice::before {
        font-family: 'dicefontd10';
        content: '0 ';
        font-weight: bold;
        font-size: large;
    }

    button[type=roll].roll-plus-btn::before {
        font-family: 'Pictos';
        content: '&';
        font-weight: bold;
        font-size: large;
    }

    button[type=action].mega-roll-btn::before {
        font-family: 'dicefontd10';
        content: 'k ';
        font-weight: bold;
        font-size: large;
    }

    button[type=action].attack-roll-btn::before {
        font-family: 'Pictos Custom';
        content: '[';
        font-weight: bold;
        font-size: large;
    }

    button[type=action].damage-roll-btn::before {
        font-family: 'Pictos Custom';
        content: 't';
        font-weight: bold;
        font-size: large;
    }

    .grid_btn,
    .d10-dice,
    .mega-roll-btn,
    .attack-roll-btn,
    .damage-roll-btn,
    .roll-plus-btn {
        height: 20px;
        width: 20px;
        color: black;
        background: radial-gradient(#f6f6f6, #dfdfdf);
        font-weight: bold;
        border-radius: 5px;
        padding: 0;
        margin: 0;
        margin-left: auto;
        border: 1px solid #ccc;
    }

    .background {
        height: 16px;
        width: 16px;
        color: black;
        background: radial-gradient(#f6f6f6, #dfdfdf);
        font-weight: bold;
        border-radius: 5px;
        padding: 0;
        margin: 0;
    }
}

.ui-dialog .tab-content .charsheet .attribute-section {
    .roll-plus-btn {
        display: none;
    }

    &:has(input.attr-quality:not(:placeholder-shown)) .roll-plus-btn {
        display: inline-block;
    }
}
