/* Buttons */
button {
    border-radius: 5px;
}

button[type=roll].sheet-background::before,
button[type=roll].sheet-grid_btn::before {
    content: '';
}

.sheet-grid_btn {
    height: 20px;
    width: 20px;
    color: black;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    font-weight: bold;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.sheet-background {
    height: 16px;
    width: 16px;
    color: black;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    font-weight: bold;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

button[type=action].sheet-d10-dice::before {
    font-family: 'dicefontd10';
    content: '0 ';
    font-weight: bold;
    font-size: large;
}