// GRID LAYOUT STYLES
.ui-dialog .tab-content .charsheet {
    .grid-1column {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .grid-2column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 825px) {
            grid-template-columns: 1fr;
        }
    }

    .grid-3column {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 825px) {
            grid-template-columns: 1fr;
        }
    }

    .grid-2column>.col {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-width: 375px;
        max-width: 450px;
    }

    .grid-3column>.col {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-width: 250px;
        max-width: 300px;
    }

    div.grid_details {
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    div.grid_details_2 {
        display: grid;
        grid-template-columns: 120px 125px 250px 250px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    div.grid_item {
        padding: 2px;
        height: 24px;
    }

    div.subtitle {
        font-size: 10px;
        font-style: italic;
        align-self: start;
    }

    .grid_item_a {
        grid-column: span 2;
    }
}