/* Header Banner */

.ui-dialog .tab-content .charsheet .header {
    height: 100px;
    background-color: #c514a8;
    position: relative;
    top: -10px;
    left: -10px;
    width: calc(100% + 16px);
    border: 2px solid black;
}

.ui-dialog .tab-content .charsheet .header .row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: flex-start;
    height: 100px;
    gap: 20px;
    position: relative;
}

.ui-dialog .tab-content .charsheet .header img.character-avatar {
    height: 100px;
    width: 100px;
    object-fit: contain;
    flex-shrink: 0;
    border-right: 2px solid black;
    border-bottom: 0;
    background-color: white;
}

.ui-dialog .tab-content .charsheet .header .character-detail {
    display: inline-block;
    flex: 1;
    text-align: left;
    padding-left: 10px;
    font-variant: small-caps;
    font-weight: bold;
}

.ui-dialog .tab-content .charsheet .header .logo-col {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 400px;
}

.ui-dialog .tab-content .charsheet .logo {
    display: inline-block;
    height: 100px;
    width: auto;
    max-width: 400px;
    object-fit: contain;
}