@mixin rays($rayColor, $bgColor){
    background-color: $bgColor;
    background-image: 
        radial-gradient(circle at 10% 15%, $bgColor 0%, transparent 50%),
        repeating-conic-gradient(
            from 47deg at 10% 15%,
            transparent 0deg 10deg,
            $rayColor 10deg 15deg,
            transparent 15deg 20deg,
            $rayColor 20deg 30deg,
            transparent 30deg 35deg,
            $rayColor 35deg 45deg
    );
    background-size: cover;
}

.ui-dialog .tab-content .charsheet {
    @include rays(#fcdf78d4, #faeba2);
}

/* Columns */
.ui-dialog .tab-content .charsheet .col {
    width: 265px;
}

.ui-dialog .tab-content .charsheet .dual_col .col {
    width: 400px;
}

/* Rows and Items */
.ui-dialog .tab-content .charsheet .wrapper .row {
    height: 24px;
    margin: 0 0 2px;
    position: relative;
}

.ui-dialog .tab-content .charsheet .wrapper .item {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    margin: 0 -2px;
    text-align: left;
    padding: 3px 2px;
}
.ui-dialog .tab-content .charsheet .wrapper .item.w620 { width: 620px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w430 { width: 430px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w375 { width: 375px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w265 { width: 265px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w250 { width: 250px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w200 { width: 200px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w190 { width: 190px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w180 { width: 180px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w160 { width: 160px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w150 { width: 150px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w140 { width: 140px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w130 { width: 130px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w120 { width: 120px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w110 { width: 110px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w100 { width: 100px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w90 { width: 90px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w75 { width: 75px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w70 { width: 70px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w50 { width: 50px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w40 { width: 40px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w25 { width: 25px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w24 { width: 24px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w20 { width: 20px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w13 { width: 13px; }
.ui-dialog .tab-content .charsheet .wrapper .item.w5 { width: 5px; }

.ui-dialog .tab-content .charsheet .wrapper .item .st {
    width: 100%;
}
.ui-dialog .tab-content .charsheet input.st,
.ui-dialog .tab-content .charsheet select.st {
    width: 100%;
    height: 23px;
    background: transparent;
    border-radius: 0;
    border-left: 6px solid gray;
    border-bottom: 1px dotted gray;
    border-right: none;
    border-top: none;
}

.ui-dialog .tab-content .charsheet input.total {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.ui-dialog .tab-content .charsheet input.specialty {
    width: 100%;
    height: 23px;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-top: none;
    font-style: italic;
}

.ui-dialog .tab-content .charsheet input.repeating {
    width: 100%;
    height: 23px;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px dotted gray;
    border-left: none;
    border-right: none;
    border-top: none;
}

/* Movement table header styling */
.ui-dialog .tab-content .charsheet .movement-table {
    border-collapse: collapse;
    width: 100%;
}

.ui-dialog .tab-content .charsheet .movement-table th {
    text-align: center;
    padding: 2px;
    font-weight: bold;
    font-size: smaller;
    color: black;
    font-variant: small-caps;
    vertical-align: middle;
}

.ui-dialog .tab-content .charsheet .movement-table td {
    text-align: center;
    padding: 2px;
}

.ui-dialog .tab-content .charsheet h2 {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.ui-dialog .tab-content .charsheet .label {
    color: darkred;
    font-variant: small-caps;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
}

.ui-dialog .tab-content .charsheet .subtitle {
    font-weight: bold;
    color: darkred;
    font-variant: small-caps;
    font-size: 11px;
}

.ui-dialog .tab-content .charsheet .title {
    font-weight: bold;
    color: darkred;
    font-variant: small-caps;
}

.ui-dialog .tab-content .charsheet h1.title {
    background-image: url("https://raw.githubusercontent.com/AndrewHolder/roll20-character-sheets-Testing/831c3fc33fdd10ee5e4d64db31eb7c64f7947420/AEON-Aberrant/AberrantLogo.png");
    background-size: auto;
    margin: 0 auto;
    text-indent: -10000px;
}
.ui-dialog .tab-content .charsheet textarea.textarea_1 {
    width: 96%;
    border-radius: 5px;
    background: white;
    resize: vertical;
    height: 24px;
}

.ui-dialog .tab-content .charsheet textarea.textarea_2 {
    width: 96%;
    border-radius: 5px;
    background: white;
    resize: vertical;
    height: 220px;
}

.ui-dialog .tab-content .charsheet input.select_wound,
.ui-dialog .tab-content .charsheet select.select_wound {
    width: 100%;
    height: 23px;
    background: transparent;
    border-radius: 0;
    border-left: 6px solid darkred;
    border-bottom: 1px dotted gray;
    border-right: none;
    border-top: none;
}

.ui-dialog .tab-content .charsheet .hidden {
    display: none;
}


/* Grid Layout */
.ui-dialog .tab-content .charsheet div.grid_details {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.ui-dialog .tab-content .charsheet div.grid_details_2 {
    display: grid;
    grid-template-columns: 120px 125px 250px 250px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.ui-dialog .tab-content .charsheet div.grid_item {
    padding: 2px;
    height: 24px;
}

.ui-dialog .tab-content .charsheet div.subtitle {
    font-size: 10px;
    font-style: italic;
    align-self: start;
}

.ui-dialog .tab-content .charsheet .grid_item_a {
    grid-column: span 2;
}

/* End of Grid Layout */
.ui-dialog .tab-content .charsheet input.hider:checked ~ div.hold {
    display: none;
}

/* Custom Radio Buttons */
.ui-dialog .tab-content .charsheet input.mdot[type="radio"],
.ui-dialog .tab-content .charsheet input.dot[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

.ui-dialog .tab-content .charsheet input.dot[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: radial-gradient(#f6f6f6, #000);
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 50%;
}

/* Temporary Dots */

.ui-dialog .tab-content .charsheet input.dot[type="radio"].temporary + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: radial-gradient(#f6f6f6, #931010);
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 50%;
}

.ui-dialog .tab-content .charsheet input.dot[type="radio"]:checked ~ input.dot[type="radio"] + span::before {
    content: "";
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

.ui-dialog .tab-content .charsheet input.mdot[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: radial-gradient(#f6f6f6, #000);
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 10%;
}

.ui-dialog .tab-content .charsheet input.mdot[type="radio"]:checked ~ input.mdot[type="radio"] + span::before {
    content: "";
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Empty Traits */
.ui-dialog .tab-content .charsheet input.zero[type="radio"]:checked + span::before {
    opacity: 0;
}

.ui-dialog .tab-content .charsheet input.zero[type="radio"]:hover + span::before {
    opacity: 1;
    background: transparent;
}

.ui-dialog .tab-content .charsheet input.zero[type="radio"] + span::before {
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
    background: transparent;
    border: none;
    box-shadow: none;
    color: darkred;
    font-weight: bold;
}
/* Gear Checkbox */
.ui-dialog .tab-content .charsheet input.gear[type="checkbox"] {
    position: relative;
    top: 5px;
    left: 6px;
    opacity: 0;
    width: 16px;
    height: 16px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

.ui-dialog .tab-content .charsheet input.gear[type="checkbox"] + span::before {
    position: relative;
    top: 4px;
    left: 0;
    margin-right: 4px;
    border: none;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: transparent;
    font-family: 'Pictos';
    content: "y";
    color: red;
    width: 14px;
    height: 14px;
    font-size: 16px;
    border-radius: 3px;
}

.ui-dialog .tab-content .charsheet input.gear[type="checkbox"]:checked + span::before {
    color: gray;
}
/* Strike Checkbox */
.ui-dialog .tab-content .charsheet input.strike[type="checkbox"] {
    opacity: 0;
    width: 15px;
    position: relative;
    top: 0;
    left: 0;
    margin: -5px;
    cursor: pointer;
    z-index: 1;
}

.ui-dialog .tab-content .charsheet input.strike[type="checkbox"]::before + span::before {
    margin-right: 4px;
    margin-left: 0;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    content: "";
    width: 20px;
    height: 14px;
    position: relative;
}

.ui-dialog .tab-content .charsheet span.strike {
    position: relative;
    left: -10px;
    width: 20px;
    color: black;
    text-shadow: none;
    text-decoration: line-through;
    font-weight: bold;
}

.ui-dialog .tab-content .charsheet input.strike[type="checkbox"]:checked + span {
    color: red;
    text-shadow: none;
    text-decoration: none;
}

/* Skill Open/Close Toggle */
.ui-dialog .tab-content .charsheet input.skill_open[type="checkbox"] {
    position: relative;
    top: 5px;
    left: 6px;
    opacity: 0;
    width: 250px;
    height: 16px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

.ui-dialog .tab-content .charsheet input.skill_open[type="checkbox"] + span::before {
    position: relative;
    top: -14px;
    left: -4px;
    margin-right: 0;
    border: none;
    border-radius: 4px;
    line-height: 14px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background: darkred;
    color: white;
    content: "▼ Abilities";
    height: 16px;
    width: 250px;
    font-size: 12px;
}

.ui-dialog .tab-content .charsheet input.skill_open[type="checkbox"]:checked + span::before {
    content: "▶ Abilities";
}

.ui-dialog .tab-content .charsheet h3.category-title {
    font-variant: small-caps;
    text-align: center;
    color: black;
}

