/* Roll Templates */
@import url("https://fonts.googleapis.com/css?family=Bangers|Dekko|Lato:900|Rock+Salt");

// ============================================
// VARIABLES
// ============================================
$font-primary: "Bangers", cursive;
$font-accent: "Rock Salt", cursive;

$color-primary-text: #7e2d40;
$color-subheader: #000;
$color-title: darkred;
$color-white: #fff;
$color-success: #3fb315;
$color-fail: #b31515;
$color-important: #4a57ed;
$color-accent: red;

$container-width: 189px;
$container-padding: 2px;
$arrow-length: 180px;

$crit-color: #3fb315;
$fail-color: #b31515;
$important-color: #4a57ed;

$damage-btn-bg: #8b0000;
$damage-btn-border: #5a0000;
$damage-btn-hover: #a00000;
$damage-btn-border-hover: #700000;
$damage-result-bg: #ffe6e6;

// ============================================
// MIXINS
// ============================================
@mixin halftone($dotColor, $bgColor) {
    $backgroundSize: 5px;
    background-color: $bgColor;
    background-image: radial-gradient($dotColor 33%, transparent 34%),
        radial-gradient($dotColor 33%, transparent 34%);
    background-size: $backgroundSize $backgroundSize;
    background-position: 0 0, calc($backgroundSize/2) calc($backgroundSize/2);
}

@mixin rolltemplate-container($bg-style: solid, $font-family: $font-primary) {
    @include halftone(#e0e0e0, white);
    border: 2px solid;
    padding: $container-padding;
    width: $container-width;
    font-family: $font-primary;
    filter: drop-shadow(5px 5px 0 black);

    h1 {
        color: $color-title;
        font-family: $font-primary;
        font-size: 1.4em;
        font-variant: small-caps;
        line-height: 20px;
    }
}

@mixin rolltemplate-common {
    div {
        padding: $container-padding;
    }

    span {
        color: $color-primary-text;
        font-family: inherit;
        font-size: 1.2em;
        font-variant: small-caps;
        line-height: 1.6em;
        padding-left: 5px;
        text-align: left;
    }

    .sheet-subheader {
        color: $color-subheader;
        font-size: 1em;
        font-family: $font-accent;
    }

    .sheet-dice-divider {
        position: relative;
        text-align: center;
        height: 2px;
        background: black;
        margin: 14px 4px;
        padding: 0 !important;
        overflow: visible;

        &:before {
            content: '\004A';
            font-family: 'dicefontd10';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include halftone(#e0e0e0, white);
            padding: 0 10px;
            font-size: 2.5em;
            color: black;
            line-height: 1;
        }
    }

    .sheet-tcat {
        font-style: italic;
    }

    .inlinerollresult {
        background-color: transparent;
        border: none;

        &.fullcrit {
            color: $crit-color;
            background-color: transparent;
            border: none;
        }

        &.fullfail {
            color: $fail-color;
            background-color: transparent;
            border: none;
        }

        &.importantroll {
            color: $important-color;
            background-color: transparent;
            border: none;
        }

        &.importandivoll {
            color: $important-color;
            background-color: transparent;
            border: none;
        }
    }

    .sheet-rowcolor2 {
        color: $color-accent;
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
    }
}

// Templates
// .ui-dialog .tab-content .charsheet {

    .sheet-rolltemplate-base,
    .sheet-rolltemplate-attack,
    .sheet-rolltemplate-initiative,
    .sheet-rolltemplate-megaroll {
        .sheet-container {
            @include rolltemplate-container();
        }

        @include rolltemplate-common;
    }

    .sheet-rolltemplate-invisible {
        .sheet-container {
            display: none;
        }

        display: none;
    }
// }