/* Roll Templates */
.sheet-rolltemplate-base .sheet-container {
    background-color: #fff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-base .sheet-container h1 {
    color: darkred;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-base div {
    padding: 2px;
}

.sheet-rolltemplate-base span {
    color: #7e2d40;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-base .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-base .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 2px solid transparent;
}

.sheet-rolltemplate-base .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-base .inlinerollresult {
    background-color: #fff;
    border: none;
}

.sheet-rolltemplate-base .inlinerollresult.fullcrit {
    color: #3fb315;
    border: none;
}

.sheet-rolltemplate-base .inlinerollresult.fullfail {
    color: #b31515;
    border: none;
}

.sheet-rolltemplate-base .inlinerollresult.importandivoll {
    color: #4a57ed;
    border: none;
}

.sheet-rolltemplate-base .sheet-rowcolor2 {
    color: red;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.sheet-rolltemplate-initiative .sheet-container {
    background-color: #fff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-initiative .sheet-container h1 {
    color: darkred;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-initiative div {
    padding: 2px;
}

.sheet-rolltemplate-initiative span {
    color: #7e2d40;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-initiative .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-initiative .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 2px solid transparent;
}

.sheet-rolltemplate-initiative .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-initiative .inlinerollresult {
    background-color: #fff;
    border: none;
}

.sheet-rolltemplate-initiative .inlinerollresult.fullcrit {
    color: #3fb315;
    border: none;
}

.sheet-rolltemplate-initiative .inlinerollresult.fullfail {
    color: #b31515;
    border: none;
}

.sheet-rolltemplate-initiative .inlinerollresult.importandivoll {
    color: #4a57ed;
    border: none;
}

.sheet-rolltemplate-initiative .sheet-rowcolor2 {
    color: red;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}


.sheet-rolltemplate-megaroll .sheet-container {
    background-color: #fff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-megaroll .sheet-container h1 {
    color: darkred;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-megaroll div {
    padding: 2px;
}

.sheet-rolltemplate-megaroll span {
    color: #7e2d40;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-megaroll .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-megaroll .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 2px solid transparent;
}

.sheet-rolltemplate-megaroll .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-megaroll .inlinerollresult {
    background-color: #fff;
    border: none;
}

.sheet-rolltemplate-megaroll .inlinerollresult.fullcrit {
    color: #3fb315;
    border: none;
}

.sheet-rolltemplate-megaroll .inlinerollresult.fullfail {
    color: #b31515;
    border: none;
}

.sheet-rolltemplate-megaroll .inlinerollresult.importandivoll {
    color: #4a57ed;
    border: none;
}

.sheet-rolltemplate-megaroll .sheet-rowcolor2 {
    color: red;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
