/* Tabs */
.ui-dialog .tab-content .charsheet .abilities,
.ui-dialog .tab-content .charsheet .info,
.ui-dialog .tab-content .charsheet .quantum,
.ui-dialog .tab-content .charsheet .combat,
.ui-dialog .tab-content .charsheet .help,
.ui-dialog .tab-content .charsheet .config {
    display: none;
}

/* Tab navigation layout */
.ui-dialog .tab-content .charsheet .tab-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui-dialog .tab-content .charsheet .tab-left {
    display: flex;
    gap: 4px;
}

.ui-dialog .tab-content .charsheet .tab-right {
    display: flex;
    gap: 4px;
}

/* Active button styling */
.ui-dialog .tab-content .charsheet .tabstoggle[value="abilities"] ~ div .button0 { outline: 2px solid red; }
.ui-dialog .tab-content .charsheet .tabstoggle[value="quantum"] ~ div .button1 { outline: 2px solid red; }
.ui-dialog .tab-content .charsheet .tabstoggle[value="combat"] ~ div .button2 { outline: 2px solid red; }
.ui-dialog .tab-content .charsheet .tabstoggle[value="info"] ~ div .button3 { outline: 2px solid red; }
.ui-dialog .tab-content .charsheet .tabstoggle[value="help"] ~ div .button4 { outline: 2px solid red; }
.ui-dialog .tab-content .charsheet .tabstoggle[value="config"] ~ div .button5 { outline: 2px solid red; }

/* Show selected tab */
.ui-dialog .tab-content .charsheet .tabstoggle[value="abilities"] ~ div.abilities,
.ui-dialog .tab-content .charsheet .tabstoggle[value="quantum"] ~ div.quantum,
.ui-dialog .tab-content .charsheet .tabstoggle[value="combat"] ~ div.combat,
.ui-dialog .tab-content .charsheet .tabstoggle[value="info"] ~ div.info,
.ui-dialog .tab-content .charsheet .tabstoggle[value="help"] ~ div.help,
.ui-dialog .tab-content .charsheet .tabstoggle[value="config"] ~ div.config {
    display: block;
}
